.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #e4e4e1;
  border-bottom: 1px solid #d0d0d0;
}

.user_info,
.header_buttons {
  display: flex;
  align-items: center;
}

.header_buttons {
  gap: 0.5rem;
}

.delete_button {
  background-color: #af0000;
}

.delete_button:hover {
  background-color: #d30000;
}

.delete_button:active {
  background-color: #8c0000;
}
