.chat_display {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  width: 100%;
  max-height: 100vh;
}

.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}