.side_header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-color);
  gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--border-color);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.avatar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
