.input {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ced4da;
  background-color: #ededed;
  border-radius: 9999px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input_wrapper {
  display: flex;
  position: relative;
  align-items: center;
  gap: 1rem;
  align-items: center;
}

.left_icon_input {
  padding-left: 2rem;
}

.icon {
  position: absolute;
  color: rgb(169, 169, 169);
  display: flex;
}

.left_icon {
  left: 0.8rem;
}

.right_icon {
  right: 0.8rem;
}
